<p id="notice"><%= notice %></p>

<h1>Listing Jg Signins</h1>

<table>
  <thead>
    <tr>
      <th>Result text</th>
      <th>Terminal info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jg_signins.each do |jg_signin| %>
      <tr>
        <td><%= jg_signin.result_text %></td>
        <td><%= jg_signin.terminal_info %></td>
        <td><%= link_to 'Show', jg_signin %></td>
        <td><%= link_to 'Edit', edit_jg_signin_path(jg_signin) %></td>
        <td><%= link_to 'Destroy', jg_signin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jg signin', new_jg_signin_path %>
