<p id="notice"><%= notice %></p>

<p>
  <strong>Result text:</strong>
  <%= @jg_signin.result_text %>
</p>

<p>
  <strong>Terminal info:</strong>
  <%= @jg_signin.terminal_info %>
</p>

<%= link_to 'Edit', edit_jg_signin_path(@jg_signin) %> |
<%= link_to 'Back', jg_signins_path %>
