<%= form_for(zx_mercht) do |f| %>
  <% if zx_mercht.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zx_mercht.errors.count, "error") %> prohibited this zx_mercht from being saved:</h2>

      <ul>
      <% zx_mercht.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chnl_id %>
    <%= f.text_field :chnl_id %>
  </div>

  <div class="field">
    <%= f.label :chnl_mercht_id %>
    <%= f.text_field :chnl_mercht_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
