<p id="notice"><%= notice %></p>

<h1>Zx Merchts</h1>

<table>
  <thead>
    <tr>
      <th>Chnl</th>
      <th>Chnl mercht</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zx_merchts.each do |zx_mercht| %>
      <tr>
        <td><%= zx_mercht.chnl_id %></td>
        <td><%= zx_mercht.chnl_mercht_id %></td>
        <td><%= link_to 'Show', zx_mercht %></td>
        <td><%= link_to 'Edit', edit_zx_mercht_path(zx_mercht) %></td>
        <td><%= link_to 'Destroy', zx_mercht, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zx Mercht', new_zx_mercht_path %>
