<p id="notice"><%= notice %></p>

<p>
  <strong>Chnl:</strong>
  <%= @zx_mercht.chnl_id %>
</p>

<p>
  <strong>Chnl mercht:</strong>
  <%= @zx_mercht.chnl_mercht_id %>
</p>

<%= link_to 'Edit', edit_zx_mercht_path(@zx_mercht) %> |
<%= link_to 'Back', zx_merchts_path %>
